{% load static %}
<!-- Vendor CSS (Bootstrap & Icon Font) -->
<link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/font-awesome-pro.min.css' %}">
{#<link rel="stylesheet" href="{% static 'css/vendor/font-gilroy.css' %}">#}

<!-- Plugins CSS (All Plugins Files) -->
{#<link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/perfect-scrollbar.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/ion.rangeSlider.min.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/photoswipe.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/photoswipe-default-skin.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/magnific-popup.css' %}">#}
{#<link rel="stylesheet" href="{% static 'css/plugins/slick.css' %}">#}

<!-- Main Style CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<link rel="stylesheet" href="{% static  'css/vendor/vendor.min.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/plugins.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
