{% load static %}
<!-- JS
============================================ -->

<!-- Vendors JS -->
<script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.1.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>

<!-- Plugins JS -->
<script src="{% static 'js/plugins/parallax.min.js' %}"></script>
{#<script src="{% static 'js/plugins/jquery.ajaxchimp.min.js' %}"></script>#}

<!-- Use the minified version files listed below for better performancehttps://console.cloud.google.com/compute/machineImages?authuser=0&project=uapa-moodle-trimestral and remove the files listed above -->
<script src="{% static 'js/vendor/vendor.min.js' %}"></script>
<script src="{% static 'js/plugins/plugins.min.js' %}"></script>

<!-- Main Activation JS -->
<script src="{% static 'js/main.js' %}"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
