{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  Quienes somos
{% endblock %}

{% block main_content %}
  <!-- Page Banner Section Start -->
  <div class="page-banner-section section section-padding-200 header-top-banner" data-bg-image="{% static 'images/page-banner/bg.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="page-banner-title">
            <div class="title">Trabajamos para facilitar para la toma de decisiones</div>
          </div>
          <div>
            <a href="/core/#componentes">
                <input type="button" class="header-top-button" value="Conoce más">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Banner Section End -->


  <!-- Faq Section Start -->
  <div class="faq-section section section-padding position-relative" data-bg-color="#f5f7fa">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-1 align-items-center">
        <div class="col">
          <div class="faq-left-image">
            <img src="{% static 'images/about/about03/decisions.svg' %}" alt="about">

            <!-- Animation Shape Start -->
            <div class="shape shape-1 scene">
                                <span data-depth="3">
                                    <img src="{% static 'images/shape-animation/shape-2.svg' %}" alt=""
                                         class="svgInject">
                                </span>
            </div>
            <!-- Animation Shape End -->
          </div>
        </div>
        <div class="col">
          <div class="faq-content-area">
            <!-- Section Title Start -->
            <div class="section-title text-left mb-50" data-aos="fade-up">
              <span class="sub-title">Todo sobre <strong>OVU</strong></span>
              <h2 class="title fz-48">Construyendo La <span>Universidad</span> Del Futuro</h2>
            </div>
            <!-- Section Title End -->

            <div class="mx-accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <a href="#" class="acc-btn border-0" data-toggle="collapse" data-target="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                      Misión
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                  <div class="card-body"><p>Ofrecer a la comunidad universitaria, tanto interna como externa, un
                    conjunto de datos estadísticos que pretenden, de manera global, describir sistemática, estandarizada
                    y
                    periódicamente la vida institucional mediante sus 13 componentes previamente establecidos.</p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <a href="#" class="acc-btn border-0 collapsed" data-toggle="collapse" data-target="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                      Visión
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body"><p>
                    Ser la referencia estadística institucional para fines informativos, gerenciales,
                    investigativos y educativos, centrado en el manejo asertivo, ético y periódico de
                    información sobre la vida universitaria.
                  </p>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <a href="#" class="acc-btn border-0 collapsed" data-toggle="collapse" data-target="#collapseThree"
                       aria-expanded="false" aria-controls="collapseThree">
                      Objetivos
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <ol>
                      <li>Diseñar, recolectar y analizar sistemáticamente un conjunto de data estadística generada por
                        las distintas instancias de la Universidad.
                      </li>
                      <li>Realizar de manera permanente un monitoreo de la vida institucional a partir del conjunto de
                        indicadores previamente establecidos.
                      </li>
                      <li>Presentar y difundir mediante diferentes vías y mecanismos los resultados obtenidos con
                        relación a los indicadores, ordenados según componentes, ante la comunidad universitaria en
                        general y, de manera especial, a las instancias de toma de decisión institucional.
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section Bottom Shape Start -->
    <div class="section-bottom-shape d-md-block d-none">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" height="100">
        <path class="elementor-shape-fill" d="M 0 0 L0 100 L100 100 L100 0 Q 50 200 0 0"></path>
      </svg>
    </div>
    <!-- Section Bottom Shape End -->
  </div>
  <!-- Faq Section End -->


  <!-- Potentials Section Start -->
  <div class="potentials-section section section-padding">
    <div class="container">
      <!-- Section Title Start -->
      <div class="section-title text-center margin-bottom-100" data-aos="fade-up">
{#        <span class="sub-title">Maximice sus potenciales</span>#}
{#        <h2 class="title fz-48">En que <span>Podemos</span> Ayudarte.</h2>#}
      </div>
      <!-- Section Title End -->
      <div class="row row-cols-lg-2 row-cols-1 align-items-center">
        <div class="col">
          <!-- Feature Wrapper Start -->
          <div class="row row-cols-xl-2 row-cols-sm-2 row-cols-1">

            <!-- Feature Start (Icon Box) -->
            <div class="col max-mb-60" data-aos="fade-up">
              <a class="icon-box icon-box-left text-left" data-vivus-hover>
                <div class="icon"><img class="svgInject" src="{% static 'images/svg/linea/linea-basic-flag2.svg' %}"
                                       alt=""></div>
                <div class="content">
                  <h3 class="title fz-20">Nuestra visión</h3>
                  <div class="desc">
                    <p>Ser referencia estadística institucional para fines informativos, gerenciales, investigativos y
                      educativos.</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Feature Start (Icon Box) -->

            <!-- Feature Start (Icon Box) -->
            <div class="col max-mb-60" data-aos="fade-up">
              <a class="icon-box icon-box-left text-left" data-vivus-hover>
                <div class="icon"><img class="svgInject" src="{% static 'images/svg/linea/linea-basic-gear.svg' %}"
                                       alt=""></div>
                <div class="content">
                  <h3 class="title fz-20">¿Un observatorio?</h3>
                  <div class="desc">
                    <p>Es un centro de pensamiento que sale al encuentro de la realidad múltiple y compleja, permisible
                      al conocimiento y sensibilidad analítica.</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Feature Start (Icon Box) -->

            <!-- Feature Start (Icon Box) -->
            <div class="col max-mb-60" data-aos="fade-up">
              <a class="icon-box icon-box-left text-left" data-vivus-hover>
                <div class="icon"><img class="svgInject" src="{% static 'images/svg/linea/linea-basic-life-buoy.svg' %}"
                                       alt="">
                </div>
                <div class="content">
                  <h3 class="title fz-20">¿Qué encontrar?</h3>
                  <div class="desc">
                    <p>En el proyecto OVU de la UAPA se pude encontrar indicadores estadísticos referentes a varios
                      ámbitos de la Universidad.</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Feature Start (Icon Box) -->

            <!-- Feature Start (Icon Box) -->
            <div class="col max-mb-60" data-aos="fade-up">
              <a class="icon-box icon-box-left text-left" data-vivus-hover>
                <div class="icon"><img class="svgInject" src="{% static 'images/svg/linea/linea-basic-display.svg' %}"
                                       alt="">
                </div>
                <div class="content">
                  <h3 class="title fz-20">Procesos claves OVU</h3>
                  <div class="desc">
                    <p>Diseño, recolección y análisis de datos (tanto cuantitativos como cualitativos).</p>
                  </div>
                </div>
              </a>
            </div>
            <!-- Feature Start (Icon Box) -->

          </div>
          <!-- Feature Wrapper End -->
        </div>
        <div class="col">
          <div class="potentials-image">
            <img src="{% static 'images/about/about03/data.svg' %}" alt="about">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Potentials Section End -->

  <!-- CTA Section Start -->
  <div class="cta-section section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
{#          <div class="cta-content text-center">#}
{#            <span class="sub-title">Empiece hoy para conseguir <span>Sus Objetivos</span></span>#}
{#            <h2 class="title">¡Puedes ser tu propia estrella guía con nuestra ayuda!</h2>#}
            {#            <a href="JavaScript:Void(0);" class="btn btn-primary btn-hover-secondary btn-width-300"> Get started for#}
            {#              free</a>#}
{##}
{#            <!-- Animation Shape Start -->#}
{#            <div class="shape shape-1 scene">#}
{#              <span data-depth="4">shape 1</span>#}
{#            </div>#}
{#            <div class="shape shape-2 scene">#}
{#              <span data-depth="4"><img src="{% static 'images/shape-animation/cta-shape-01.png' %}" alt=""></span>#}
{#            </div>#}
{#            <div class="shape shape-3 scene">#}
{#              <span data-depth="4"><img src="{% static 'images/shape-animation/nwesletter-shape-2.png' %}"#}
{#                                        alt=""></span>#}
{#            </div>#}
{#            <!-- Animation Shape End -->#}
{#          </div>#}
        </div>
      </div>
    </div>
  </div>
  <!-- CTA Section End -->

  <!-- Team Section Start -->
  <div class="team-section section section-padding-top" data-bg-color="#f5f5f5">
    <div class="container">
      <!-- Section Title Start -->
      <div class="section-title text-center" data-aos="fade-up">
        <span class="sub-title">Los chicos detrás de las cortinas</span>
        <h2 class="title fz-48">Quienes te <span> Inspiran</span> a un Futuro</h2>
      </div>
      <!-- Section Title End -->
      <div class="row ht-team-member-style-two">
        <div class="col-lg-4 col-md-6 col-sm-6 max-mb-50">
          <div class="grid-item">
            <div class="ht-team-member">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/350/randolf.jpg' %}" alt="">
                <div class="social-networks">
                  <div class="inner">
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce  hint--top hint--theme-two"
                       aria-label="Facebook"><i class="fab fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce hint--top hint--theme-two"
                       aria-label="Twitter"><i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce hint--top hint--theme-two"
                       aria-label="Instagram"><i class="fab fa-instagram"></i>
                    </a>
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce hint--top hint--theme-two"
                       aria-label="Youtube"><i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="team-info text-center">
                <h5 class="name">Randolph Morillo</h5>
                <div class="position">Analista</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 max-mb-50">
          <div class="grid-item">
            <div class="ht-team-member">
              <div class="team-image">
                <img class="img-fluid" src="{% static 'images/team/350/wilmer.jpg' %}" alt="">
                <div class="social-networks">
                  <div class="inner">
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce  hint--top hint--theme-two"
                       aria-label="Facebook"><i class="fab fa-facebook-f"></i>
                    </a>
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce hint--top hint--theme-two"
                       aria-label="Twitter"><i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce hint--top hint--theme-two"
                       aria-label="Instagram"><i class="fab fa-instagram"></i>
                    </a>
                    <a target="_blank" href="JavaScript:Void(0);" class=" hint--bounce hint--top hint--theme-two"
                       aria-label="Youtube"><i class="fab fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="team-info text-center">
                <h5 class="name">Wilmer T&eacute;llez </h5>
                <div class="position">Analista</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Section End -->

  <!-- Newsletter Section Start -->
  <div class="section-padding-top-10">
    {#    <div class="container">#}
    {#      <div class="row">#}
    {#        <div class="col-12">#}
    {#          <div class="newsletter-content">#}
    {#            <h2 class="title">Sign up for our <span>Newsletters</span></h2>#}
    {#            <p>Enter your email address to register to our newsletter subscription <br class="d-none d-md-block">delivered#}
    {#              on a regular basis! </p>#}
    {#            <div class="newsletter-form">#}
    {#              <form action="#">#}
    {#                <input type="email" placeholder="Your E-mail">#}
    {#                <button class="btn btn-primary btn-hover-secondary">Subscribe</button>#}
    {#              </form>#}
    {#            </div>#}
    {##}
    {#            <!-- Animation Shape Start -->#}
    {#            <div class="shape shape-1 scene">#}
    {#              <span data-depth="4">shape 3</span>#}
    {#            </div>#}
    {#            <div class="shape shape-2 scene">#}
    {#              <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-1.png" alt=""></span>#}
    {#            </div>#}
    {#            <div class="shape shape-3 scene">#}
    {#              <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>#}
    {#            </div>#}
    {#            <!-- Animation Shape End -->#}
    {#          </div>#}
    {##}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
  </div>
  <!-- Newsletter Section End -->
{% endblock %}
