{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  Preguntas Frecuentes
{% endblock %}

{% block main_content %}
  <div id="page">

    <!-- Page Banner Section Start -->
    <div class="page-banner-section section section-padding-200 header-top-banner"
         data-bg-image="{% static 'images/page-banner/bg.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="page-banner-title">
              <div class="title">Trabajamos para facilitar para la toma de decisiones</div>
            </div>
            <div>
                <a href="/core/#componentes">
                    <input type="button" class="header-top-button" value="Conoce más">
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Page Title Section Start -->
    <div class="page-title-section section">
      <div class="page-title">
        <div class="container">
          <h1 class="title">Preguntas frecuentes</h1>
        </div>
      </div>
      {#      <div class="page-breadcrumb">#}
      {#        <div class="container">#}
      {#          <ul class="breadcrumb">#}
      {#            <li><a href="index.html">Home</a></li>#}
      {#            <li class="current">Purchase Guide</li>#}
      {#          </ul>#}
      {#        </div>#}
      {#      </div>#}
    </div>
    <!-- Page Title Section End -->


    <!-- Purchase Guide Section Start -->
    <div class="section section-padding-bottom">
      <div class="container">
        <div class="row max-mb-n50">

          <div class="col-lg-8 col-12 order-lg-2 max-mb-50">
            <!-- Purchase Guide Wrapper Start -->
            <div class="purchase-guide-wrapper">
              <div class="content">
                <h3 class="title">¿Qué es un observatorio de vida universitaria?</h3>

                <p class="text-justify">Al revisar la literatura sobre observatorios, puede notarse que no hay un
                  consenso en su
                  definición, aunque las funciones y objetivos presentan rasgos comunes. Vamos a revisar
                  un poco algunas ideas que giran alrededor de la pregunta: ¿Qué es un observatorio? Para
                  luego presentar una definición propia de un Observatorio de Vida Universitaria.
                  <br>
                  Enjunto (2008), por ejemplo, señala que un observatorio es un organismo colectivo que
                  busca seguir con la evolución de un fenómeno en específico, normalmente de carácter
                  social y desde una posición ventajosa. Joseph Thompson (citado por Patiño y Peláez,
                  2006), por su parte, alude a la observación (en referencia técnica de un observatorio)
                  como un modo de examinar la realidad, lo que implica claridad y mensurabilidad con
                  respecto a un propósito.
                  <br>
                  Desde el Observatorio del Caribe Colombiano, se tiene que un observatorio es un centro
                  de pensamiento que sale al encuentro de la realidad múltiple y compleja, permisible al
                  conocimiento y sensibilidad analítica. El observatorio se dedica al estudio, reflexión y
                  divulgación del conocimiento sobre la realidad del fenómeno observado o campo de
                  observación y su perfil es el de un centro humanista, científico y cultural. Por lo tanto,
                  se concibe como un organismo autónomo, independiente, pluralista, con capacidad
                  crítica, que contribuye a mayor racionalidad en el debate (Caribenet.info, 2006). Para
                  Gregorio (2007), los observatorios responden al problema de la saturación de datos, que
                  por su volumen creciente lleva a perder la percepción global del fenómeno observado, y
                  crea la obligación de transformar los datos en información, de manera que puedan
                  aportar elementos de decisión.
                  <br>
                  En México, la Universidad de Colima (2006), define el Observatorio Universitario de
                  las Innovaciones como un espacio multidimensional, constituido por redes temáticas
                  colaborativas que, de forma periódica y sistemática, recogen toda aquella información
                  sobre procesos innovadores internos y externos, relevantes para la institución, tanto
                  cualitativa como cuantitativa para su posterior coordinación y difusión.
                  <br>
                  Con estas referencias introductorias, se puede decir que un observatorio de vida
                  universitaria es un espacio reflexivo, multidisciplinario que busca examinar una realidad
                  múltiple y compleja sobre la evolución de la vida institucional universitaria, mediante el
                  diseño, recolección y análisis de datos (tanto cuantitativos como cualitativos). Su
                  objetivo final es aportar información útil para la toma de decisión y buenas prácticas.
                </p>

                <h3 class="title">¿Qué información se puede encontrar en el Observatorio de Vida Universitaria de
                  la UAPA?</h3>

                <p class="text-justify">En el proyecto Observatorio de Vida Universitaria de la UAPA se pude encontrar
                  indicadores estadísticos referentes a varios ámbitos de la Universidad. Como lo sugiere
                  el término, un indicador “indica” mediante una escala de medición algún atributo de un
                  fenómeno u objeto en específico, pretendiendo ser una descripción realista en un
                  momento específico. Los indicadores se agrupan por dimensiones (en nuestro caso son
                  13), que son clasificaciones conceptuales que ayudan a ordenar los indicadores según su
                  tópico.
                  <br>
                  Desde el punto de vista técnico, los indicadores se presentan mediante herramientas de
                  la estadística descriptiva univariante, es decir, mediante distribuciones. Por esta razón,
                  lo que encontraremos en los reportes de resultados son frecuencias (absolutas y
                  relativas) de las categorías clasificatorias de cada indicador, acompañado de una gráfica
                  correspondiente para ser amables visualmente con la descripción.
                </p>

                <h3 class="title">¿Cuál puede ser utilidad de la información presentada en el Observatorio de Vida
                  Universitaria?</h3>

                <p class="text-justify">Hay consenso en que un observatorio sirve, al menos, para:
                <ul type="a">
                  <li>caracterizar una situación o momento,</li>
                  <li>apoyar la toma de decisiones coyunturales,</li>
                  <li>formular escenarios a futuro.</li>
                </ul>
                </p>
                <p class="text-justify">
                  Sin embargo, la información del Observatorio de Vida Universitaria permite
                  pensar más allá de la función gerencial institucional. Por ejemplo, su utilidad en el
                  campo de la investigación es considerable, no solo para docentes de planta, también lo
                  es para estudiantes de grado y postgrado que se encuentren haciendo su trabajo final,
                  instituciones gubernamentales o cualquier interesado externo en conocer la dinámica
                  universitaria de la UAPA. </p>
              </div>
            </div>
            <!-- Purchase Guide Wrapper End -->
          </div>

          <div class="col-lg-4 col-12 order-lg-1 max-mb-50">
            <div class="sidebar-widget-wrapper">
              <div class="sidebar-widget">
                <div class="sidebar-widget-content">
                  <ul class="sidebar-widget-menu">
                    <li><a href="{{ home_url }}"><span class="menu-text">Inicio</span></a></li>
                    <li><a href="{{ componentes_url }}"><span class="menu-text">Componentes</span></a></li>
                    <li><a href="{{ about_us_url }}"><span class="menu-text">Quienes Somos</span></a></li>
                    <li><a class="active" href="purchase-guide.html">Preguntas frecuentes</a></li>
                  </ul>
                </div>
              </div>

              {#              <div class="sidebar-widget">#}
              {#                <h3 class="sidebar-widget-title">Recent Courses</h3>#}
              {#                <div class="sidebar-widget-content">#}
              {#                  <ul class="sidebar-widget-course">#}
              {#                    <li class="widget-course">#}
              {#                      <div class="thumbnail">#}
              {#                        <a href="course-details-sticky-feature-bar.html" class="image"><img#}
              {#                                src="assets/images/courses/170/course-1.jpg" alt="Course Image"></a>#}
              {#                      </div>#}
              {#                      <div class="info">#}
              {#                        <span class="price">$40<span>.00</span></span>#}
              {#                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Learning to Write as a#}
              {#                          Professional Author</a></h6>#}
              {#                      </div>#}
              {#                    </li>#}
              {#                    <li class="widget-course">#}
              {#                      <div class="thumbnail">#}
              {#                        <a href="course-details-sticky-feature-bar.html" class="image"><img#}
              {#                                src="assets/images/courses/170/course-2.jpg" alt="Course Image"></a>#}
              {#                      </div>#}
              {#                      <div class="info">#}
              {#                        <span class="price">Free</span>#}
              {#                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Customer-centric Info-Tech#}
              {#                          Strategies</a></h6>#}
              {#                      </div>#}
              {#                    </li>#}
              {#                    <li class="widget-course">#}
              {#                      <div class="thumbnail">#}
              {#                        <a href="course-details-sticky-feature-bar.html" class="image"><img#}
              {#                                src="assets/images/courses/170/course-3.jpg" alt="Course Image"></a>#}
              {#                      </div>#}
              {#                      <div class="info">#}
              {#                        <span class="price">$19<span>.00</span></span>#}
              {#                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Open Programming Courses for#}
              {#                          Everyone: Python</a></h6>#}
              {#                      </div>#}
              {#                    </li>#}
              {#                    <li class="widget-course">#}
              {#                      <div class="thumbnail">#}
              {#                        <a href="course-details-sticky-feature-bar.html" class="image"><img#}
              {#                                src="assets/images/courses/170/course-4.jpg" alt="Course Image"></a>#}
              {#                      </div>#}
              {#                      <div class="info">#}
              {#                        <span class="price">$26<span>.00</span></span>#}
              {#                        <h6 class="title"><a href="course-details-sticky-feature-bar.html">Academic Listening and#}
              {#                          Note-taking</a></h6>#}
              {#                      </div>#}
              {#                    </li>#}
              {#                  </ul>#}
              {#                </div>#}
              {#              </div>#}
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Purchase Guide Section End -->


    <!-- Scroll Top Start -->
    <a href="#" class="scroll-top" id="scroll-top">
      <i class="arrow-top fal fa-long-arrow-up"></i>
      <i class="arrow-bottom fal fa-long-arrow-up"></i>
    </a>
    <!-- Scroll Top End -->
  </div>
{% endblock %}
